* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    padding: 2rem;
    font-size: 15px;
}

main .boxs {
    max-width: 925px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    color: #ffff;
    
    
}


h1 {
    font-family: 'Big Shoulders Display', cursive;
    padding-bottom: 2rem;
    font-size: 2.5rem;
    color: #fff;
    
}

main .boxsedans img {
    padding-bottom: 1.5rem;
}


main .boxsedans {
    background-color: hsl(31, 77%, 52%);
    height: 480px;
    text-align:left;
    padding: 3rem;
    border-radius: 8px 0px 0px 8px;
    

}


main .boxsedans span {
    line-height: 1.5;
    
}


main .boxsedans button {
  margin-top: 5rem;
  border: #fff;
  border-radius: 50px;
  padding: 14px;
  width: 150px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  color: hsl(31, 77%, 52%);

}

main .boxsuvs img {
    padding-bottom: 1.5rem;
}


main .boxsuvs {
    background-color:hsl(184, 100%, 22%);
    height: 480px;
    text-align:left;
    padding: 3rem;

}


main .boxsuvs span {
    line-height: 1.5;
}

main .boxsuvs button {
  margin-top: 5rem;
  border: #fff;
  border-radius: 50px;
  padding: 14px;
  width: 150px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  color: hsl(184, 100%, 22%);

}

main .boxluxury img {
    padding-bottom: 1.5rem;
}


main .boxluxury {
    background-color:hsl(179, 100%, 13%);
    height: 480px;
    text-align:left;
    padding: 3.0rem;
    border-radius: 0px 8px 8px 0px;
    

}

main .boxluxury span {
    line-height: 1.5;
}

main .boxluxury button {
  margin-top: 5rem;
  border: #fff;
  border-radius: 50px;
  padding: 14px;
  width: 150px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  color: hsl(179, 100%, 13%);
  
}

@media screen and (min-width: 375px) and (max-width: 900px ) {

  

    main .boxs {
        height: 100%;
        width: 300px;
        display: flex;
        flex-direction: column;
    }

    main .boxsedans {
       border-radius: 8px 8px 0px 0px;
       height: 420px;
       padding: 35px;
       text-align: left;
    }


    main .boxsedans span {
        line-height: 1.5;
       
        
    }


    main .boxsuvs  {
        height: 420px;
        padding: 35px;
        text-align: left;

     }
      

     main .boxluxury  {
        height: 420px;
        border-radius: 0px 0px 8px 8px;
        padding: 35px;
        text-align: left;

     }

     main .boxsedans button {
        margin-top: 1.5rem; 

     }


     main .boxsuvs button {
        margin-top: 1.5rem;

     }

     main .boxluxury button{
        margin-top: 1.5rem;

     }


}